.main {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  flex: 1;
}
.time-tracking {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: hsl(235, 46%, 20%);
  color: hsl(0, 0%, 100%);
  flex: 1 1 30%;
  margin: 10px;
}

.timeframe {
  display: none;
}

.visible {
  display: block;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}